body {
  font-family: sans-serif;
  background: #f1f3f5;
  margin: 0;
}

.topnav {
  background: #fff;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.auth-box,
.advisor-box {
  max-width: 400px;
  background: #fff;
  padding: 25px;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
